<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>vue網頁</title>
<script src="vue.min.js"></script>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="x in arr1">{{x}}</li>
        </ul>

        <ul>
            <li v-for="x in [1, 2, 3]">{{x}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                arr1: ["a", "b", "c"]
            }
        })
    </script>
</body>
</html>