<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>vue網頁</title>
<script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="km">公里<br>
        <input type="text" v-model="m">公尺
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                km: 0,
                m: 0
            },
            watch: {
                // 監聽km這個變數
                km: function (arg) {
                    this.km = arg
                    this.m = arg * 1000
                },
                // 監聽m這個變數
                m: function (arg) {
                    this.m = arg
                    this.km = arg / 1000
                }
            }
        })
    </script>
</body>
</html>